<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
  <title></title>
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a [routerLink]="['/create']">Home</a></li>
          <li class="active"><a [routerLink]="['/show', question._id]">Go Back to Question</a></li>
          <button id="logout" class="btn btn-danger"><a (click)="logout()">Log Out</a></button>
        </ul>
      </div>
  </nav>
  <div class="container">
    <h1 class="header">Let's answer some questions!!!</h1>
    <hr>
    <div id="display" class="form-group">
      <h1>{{question.content}}</h1>
      <h2>{{question.description}}</h2>
    </div>
     <form class="form-horizontal" (submit)="createAns()" #ansData="ngForm">
        <div class="form-group">
            <label class="control-label col-sm-2">Your Answer:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter answer....." name="content"
              [(ngModel)] = "answer.content"
              required minlength="10"
              #answerData="ngModel">
            </div>
          </div>
          <div class="alert alert-warning" *ngIf = "answerData.invalid && (answerData.dirty || answerData.touched)">
              <strong>
                Warning! please fill in your question !!!
              </strong>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Supporting details for your answer(Optional):</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" name="detail"
              [(ngModel)] = "answer.detail"
              ></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" style="font-family: 'Fugaz One', cursive;"
            [disabled]="!ansData.valid">Submit</button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-danger"
            style="font-family: 'Fugaz One', cursive;"><a [routerLink]="['/home']">Cancel</a></button>
          </div>
        </div>

    </form>

  </div>
</body>
</html>